[defaults]
host_key_checking = False
inventory = inventory.ini
roles_path = roles
stdout_callback = yaml
timeout = 60
retry_files_enabled = False
interpreter_python = /usr/bin/python3
deprecation_warnings = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=120s -o ServerAliveInterval=30
